server:
    port: 9000
spring:
    application:
      name: ace-gateway
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
zuul:
  routes:
    sale:
      path: /test/**
      serviceId: ace-test
